@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Opa, um erro ocorreu! Tente recarregar a página ou ligar as páginas direito na próxima!
    </h2>

    <p>AAAAAAAAAAAAAAAAAAAA</p>
</body>
</html>