@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="..\..\Content\Css\festa.frontend.views.convidado.edit.css" />
    <script src="main.js"></script>
</head>
<body>
  
    <div class="container">
        
        <div class="areaOpcao">
            <div class="cabecalhoAreaOpcao">
                
                <div class="voltar"><a href="..\convidado\Convidado"><img src="..\..\Content\images\back.svg"></a></div>
                <div class="textoFesta">Cadastro Convidado</div>
                
            </div>
            <div class="linhaCabecalho"></div>
            
           <form action=" ..\convidado\Edit" method="post">
            <div class="areaFormulario">
                <div><input type="text" class="inputNome" placeholder="Nome"></div> @Model
                <div><input type="text" class="inputData" placeholder="CPF"></div>
                <div><input type="date" class="inputValor" placeholder="Data de Nascimento"></div>
                <div><input type="text" class="inputValor" placeholder="Sexo"></div>
            </div>
                  <div class="areabotao">
                    <button type="submit" class="botao">
                    Confirmar
                    </button>
                </div>
            </form>
           </div>
    </div>
</body>
</html>
