@import url('_reset.css');
@import url('_variables.css');

a{
    text-decoration: none;
}

body{
	margin: 0px;
    background-color: purple;
    Font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

div.header{
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: var(--bg-light);
    z-index: 100;
}

div.logo>img{
    margin-top: 5px;
    height: 50px;
    background-color: var(--bg-light);
    width:50px;
}

div.areaOpcao{
    width: 800px;
    height: 500px;
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    
}

div.cabecalhoAreaOpcao{
    font-size: 25px;
    color: var(--bg-primary);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div.footer{
    text-align: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #FFF;
    font-size: 10px;
    color: gray;
}

div.areaIcones{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

div.separar{
    width: 50px;
}

div.cone{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


div.cone>img{
    position: relative;
    width: 150px;
    height: 150px;
}


div.convidado{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


div.convidado>img{
    position: relative;
    width: 100px;
    height: 150px;
}

div.textoFuncao{

    margin-top: 10px;
    font-size: 20px;
    color: #195EAD;
}


div.textoFooter{
    margin-top: 15px;
}


div.linha{
    border-bottom: 1px solid #e2e0e0;  
    width: 150px;
    margin-top: 10px;
}

div.linhaCabecalho{
    position: relative;
    border-bottom: 1px solid #e2e0e0;  
    width: 650px;
    bottom: -20px;
}



div.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.logo>img
{
    display:block;
    position:absolute;
    height: 200px;
    width: 250px;
    }
